.about__container {
  padding-left: ceil(percentage(30px / 320px));// 30px;
  padding-right: ceil(percentage(30px / 320px));// 30px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-left: percentage(50px / 768px);// 30px;
    padding-right: percentage(50px / 768px);// 30px;
  }

  @media (min-width: $desktop) {
    padding: 61px 50px 5px 175px;
  }
}

.about__caption {
  margin: 0;
  margin-top: 27px;

  @media (min-width: $tablet) {
    margin-top: 53px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.about__advantages {
  margin-top: 31px;

  @media (min-width: $tablet) {
    // width: 655px;
    margin-top: 46px;
  }

  @media (min-width: $desktop) {
    width: 687px;
  }
}
