.advantages {
  @include reset-ul;

  @media (min-width: $tablet) {
    min-height: 340px;
    column-count: 2;
  }
}

.advantages__item {
  position: relative;
  padding-top: 56px;
  margin-bottom: 27px;
  color: $color-li;
  font-size: 17px;
  line-height: 20px;
  box-sizing: border-box;
  word-break: break-word;

  @media (min-width: $tablet) {
    width: 300px;
    margin-right: 0;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    width: 350px;
  }

  & svg {
    position: absolute;
    top: 0;
    left: 6px;
    fill:#63d1bb;
  }
}
