.advantages {
  @include reset-ul;

  @media (min-width: $tablet) {
    height: 340px;
    column-count: 2;
  }
}

.advantages__item {
  padding-top: 56px;
  margin-bottom: 27px;
  color: $color-li;
  font-size: 17px;
  line-height: 20px;
  box-sizing: border-box;
  word-break: break-word;

  @media (min-width: $tablet) {
    width: 334px;
    margin-right: 0;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    width: 350px;
  }
}
