.advantages {
  @include reset-ul;

  @media (min-width: $tablet) {
    // height: 465px; //fix IE11
    min-height: 340px;
    column-count: 2;
  }
}

.advantages__item {
  position: relative;
  padding-top: 56px;
  margin-bottom: 27px;
  color: $color-li;
  font-size: 17px;
  line-height: 20px;
  box-sizing: border-box;
  word-break: break-word;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 300px;
    margin-right: 0;
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    width: 350px;
  }
}

.advantages__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill:#63d1bb;

  &--flower {
    left: 8px;
  }

  &--money {
    top: 2px;
  }

  &--heart {
    top: 7px;
    left: 7px;
  }

  &--ball {
    top: 5px;
    left: 3px;
  }

  &--rocket {
    top: 5px;
    left: -5px;
  }

  &--gift {
    top: 3px;
    left: 3px;
  }
}
