.btn-form {
  display: block;
  width: 260px;
  padding: 19px 20px 13px 20px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  border: none;
  background-color: #63d1bb;
  cursor: pointer;
}
