.btn {
  display: block;
  width: 259px;
  height: 52px;
  padding: 18px;
  color: $color-text;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $color-text;
  box-sizing: border-box;

  &:hover {
    color: #ffffff;
    background-color: $color-text;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
