.caption {
  margin: 0;
  color: $color-title;
  font-size: $font-size--h2;
  line-height: 30px;

  &--size {
    font-size: 18px;
    margin-top: 35px;

    @media (min-width: $tablet) {
      margin-top: 64px;
      padding-right: 100px;
    }

    @media (min-width: $desktop) {
      margin-top: 142px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet) {
    max-width: 550px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}
