.categories {
  @include reset-ul;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.categories__item {
  min-height: 103px;

  &:nth-child(odd) {
    background-color: #63d1bb;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }

  @media (min-width: $tablet) {
    min-height: 119px;
    box-sizing: border-box;
  }
}

.categories__link {
  display: flex;
  width: 180px;
  padding: 25px;
  padding-left: 27px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  word-break: break-word;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 334px;
    padding: 28px;
    padding-left: 35px;
    padding-right: 160px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    width: 525px;
  }

  &:active {
    opacity: 0.3;
  }
}
