.categories {
  @include reset-ul;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-top: 288px;
  }
}

.categories__item {
  padding: 30px;

  &:nth-child(odd) {
    background-color: #63d1bb;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }

  @media (min-width: $tablet) {
    width: 334px;
    padding-left: 36px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    width: 525px;
    box-sizing: border-box;
  }
}

.categories__link {
  display: inline-block;
  max-width: 150px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}
