.container {
  // width: $mobile - 30 * 2;
  max-width: 650px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    // width: $tablet - 50 * 2;
  }

  @media (min-width: $desktop) {
    width: $desktop - 50 * 2;
  }
}
