.contacts {
  padding-bottom: 37px;

  .container {
    width: 100%;

    @media (min-width: $desktop) {
      width: 1050px;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 57px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 102px;
  }
}

.contacts__content {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 668px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0;
    padding-left: 175px;
  }
}

.contacts__caption {
  @media (min-width: $tablet) {
    position: relative;
  }

  @media (min-width: $desktop) {
    order: 1;
  }

  &::after {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      top: -16px;
      right: -14px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop) {
      top: -8px;
      right: 0;
      left: -112px;
    }
  }
}

.contacts__info-wrapper {
  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    order: 2;
  }
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    width: 334px;
    margin-top: 49px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 29px;
    margin-bottom: 0;
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 30px;

  &:first-child {
    max-width: 50px;
    padding-right: 30px;

    @media (min-width: $tablet) {
      max-width: 55px;
      padding-right: 5px;
    }
  }

  &--last {
    width: 170px;

    @media (min-width: $tablet) {
      width: 235px;
      margin-left: 20px;
      align-self: flex-start;
    }
  }
}

.contacts__link {
  font-weight: 400;
  line-height: 30px;
  color: $color-text;
  text-decoration: none;
  word-break: break-word;

  @media (min-width: $tablet) {
    margin-left: 18px;
    align-self: flex-start;
  }
}

.contacts__link--email {
  max-width: 185px;
  border-bottom: 1px solid #46c1ae;

  @media (min-width: $tablet) {
    max-width: 205px;
  }

  &:hover {
    cursor: pointer;
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-wrapper {
  position: relative;
  margin-top: 37px;
  width: 100%;
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    margin-top: 28px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    width: 525px;
    margin-left: 525px;
    margin-top: -325px;
    order: 4;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 145px;
    left: 138px;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      top: 138px;
      left: 356px;
    }

    @media (min-width: $desktop) {
      top: 148px;
      left: 238px;
    }
  }
}

.contacts__map-iframe {
  width: 100%;
  border: none;
  margin-top: 16px;

  @media (min-width: $tablet) {
    height: 457px;
    margin-top: 23px;
  }

  @media (min-width: $desktop) {
    width: 525px;
    margin-left: 525px;
    margin-top: -325px;
    order: 4;
  }
}

.contacts__btn {
  margin: 0 auto;
  margin-top: 33px;

  @media (min-width: $tablet) {
    width: 230px;
    margin-top: 55px;
  }

  @media (min-width: $desktop) {
    width: 230px;
    margin-top: -52px;
    margin-left: 175px;
    order: 3;
  }
}
