.copyright {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.copyright__text {
  margin: 0;
  padding: 0;
  max-width: 130px;
  word-break: break-all;
  font-size: 19px;
  line-height: 19px;

  @media (min-width: $tablet) {
    align-self: center;
  }
}

.copyright__logo {
  display: block;
  width: 27px;
  height: 34px;
  margin-left: 30px;
  font-size: 0;
  background: url("../../img/logo-htmlacademy.svg") no-repeat center center;
}
