.copyright {
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
  margin-left: 38px;

  @media (min-width: $tablet) {
    padding-top: 0;
    margin-left: 36px;
  }
}

.copyright__logo {
  display: flex;
  width: 183px;
  color: #000000;
  word-break: break-word;
  font-size: 19px;
  line-height: 19px;
  text-decoration: none;
  fill: #63d1bb;
  cursor: pointer;

  &:hover .copyright__icon-htmlacademy,
  &:focus .copyright__icon-htmlacademy {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .copyright__icon-htmlacademy {
    opacity: 0.3;
  }
}

.copyright__icon-htmlacademy {
  margin-top: -5px;
  margin-left: 28px;
}
