.decor-separator {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: url("../../img/bg-zigzag-line.svg") repeat;
    background-size: contain;

    @media (min-width: $tablet) {
      height: 15px;
      opacity: 0.3;
    }

    @media (min-width: $desktop) {
      height: 20px;
    }
  }
}
