.decor-separator {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: url("../../img/bg-zigzag-line.svg") repeat center/contain;

    @media (min-width: $tablet) {
      height: 17px;
      opacity: 0.3;
    }
  }
}
