.feedbacks {
  padding-bottom: 45px;
}

.feedbacks__container {
  @media (min-width: $tablet) {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 768px;
    min-height: 470px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 69px;
    box-sizing: border-box;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 25px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/review@2x.jpg");
      background-size: 350px;
    }
  }

  @media (min-width: $desktop) {
    width: 1150px;
    margin: 0 auto;
    padding-left: 225px;
    padding-bottom: 120px;
    background-position: 50px 30px;
  }
}

.feedbacks__caption {
  margin: 0;
  margin-top: 55px;

  @media (min-width: $tablet) {
    margin-top: 106px;
    order: 1;
  }

  @media (min-width: $desktop) {
    margin-top: 101px;
  }
}

.feedbacks__slider {
  margin-top: 24px;

  @media (min-width: $tablet) {
    margin-top: 45px;
    order: 3;
  }

  @media (min-width: $desktop) {
    margin-top: 47px;
  }
}

.feedbacks__slider-controls {
  margin-top: 29px;

  @media (min-width: $tablet) {
    margin-top: -54px;
    order: 4;
  }
}

.feedbacks__btn {
  margin-top: 36px;

  @media (min-width: $tablet) {
    width: 175px;
    margin-top: 107px;
    order: 2;
  }

  @media (min-width: $desktop) {
    margin-top: 109px;
  }
}
