.feedbacks {
  padding-bottom: 45px;

  @media (min-width: $tablet) {
    min-height: 470px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 30px;padding-bottom: 85px;
  }

  @media (min-width: $desktop) {
    width: 1150px;
    margin: 0 auto;
    background-position: 50px 30px;
  }
}

.feedbacks__container {
  @media (min-width: $tablet) {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    padding-left: 175px;
  }
}

.feedbacks__caption {
  margin: 0;
  margin-top: 55px;

  @media (min-width: $tablet) {
    margin-top: 106px;
    order: 1;
  }

  @media (min-width: $desktop) {
    margin-top: 101px;
  }
}

.feedbacks__slider {
  margin-top: 24px;

  @media (min-width: $tablet) {
    margin-top: 45px;
    order: 3;
  }
}

.feedbacks__slider-controls {
  margin-top: 30px;

  @media (min-width: $tablet) {
    margin-top: -54px;
    order: 4;
  }
}

.feedbacks__btn {
  margin-top: 36px;

  @media (min-width: $tablet) {
    width: 175px;
    margin-top: 107px;
    order: 2;
  }
}
