.feedback {
  margin: 0;
  color: $color-text;
  line-height: 30px;
  font-weight: 400;
}

.feedback__author {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  color: $color-li;
  font-size: 17px;
  font-weight: 700;
}

.feedback__author-name {
  font-style: normal;
}

.feedback__author-link {
  color: $color-text;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
}
