.footer {
  padding-top: 26px;
  padding-bottom: 23px;
  background-color: #f1f1f1;
}

.footer__container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 95px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-shrink: 0;
    width: 102px;
    height: 35px;
    margin: 0;
    background: url("../../img/logo-footer.svg") no-repeat center center;
  }
}

.footer__socials {
  padding-bottom: 25px;
}
