.goods {
  @include reset-ul;
  padding-top: 30px;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.goods__item {
  @media (min-width: $tablet) {
    display: flex;
    width: 668px;
    margin-top: 54px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    width: 315px;
  }
}

.goods__img-link {
  display: block;
  width: 260px;
  height: 195px;

  @media (min-width: $tablet) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop) {
    width: 315px;
    height: 462px;
  }
}

.goods__info {
  padding: 30px 28px;
  border: 1px solid #ececec;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 334px;
  }

  @media (min-width: $desktop) {
    width: 316px;
    min-height: 197px;
    box-sizing: border-box;
  }
}

.goods__title {
  margin: 0;
}

.goods__title-link {
  color: $color-li;
  font-size: 17px;
  text-decoration: none;
}

.goods__link {
  color: $color-li;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
}

.goods__description {
  margin: 0;
  padding: 0;
  color: $color-text;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.goods__price-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}

.goods__price {
  margin: 0;
  padding: 0;
  color: $color-li;
}

.goods__btn {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
}
