.header {
  color: $color-title;
}

.header__title-wrapper {
  height: 356px;
  padding: 1px;
  background: $bgcolor-main url(../img/hero-mobile@1x.jpg) no-repeat center center/cover;
}

.header__title {
  margin: 0;
  margin-top: 75px;
  font-size: $font-size--h1;
  line-height: $line-height--h1;
  text-align: center;
}
