.header-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet) {
    min-height: 88px;
    box-shadow: none;
  }

  &--bg-image {
    background-color: transparent;
    min-height: 215px;

    &::before {
      content: "";
      position: absolute;
      bottom: 133px;
      left: 0;
      width: 100%;
      height: 373px;
      z-index: -1;
      background-image: url("../img/hero-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center bottom;

      @media (min-width: $tablet) {
        bottom: 0;
        height: 732px;
        background-image: url("../../img/hero-tablet@1x.jpg");
      }

      @media (min-width: $desktop) {
        background-image: url("../../img/hero-desktop@1x.jpg");
      }
    }
  }
}

.header-nav__toggle {
  margin-left: auto;
  margin-top: 7px;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background: url("../../img/icon-menu-close.svg") no-repeat center center;

  &--close {
    background: url("../../img/icon-menu-open.svg") no-repeat center center;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.header-nav__list {
  @include reset-ul;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    width: 1050px;
  }
}

.header-nav__item {
  display: flex;
  width: 260px;
  padding-left: 26px;
  padding-right: 30px;
  min-height: 80px;
  word-break: break-word;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-top: 18px;
    padding-left: 0;
    padding-right: 0;
    min-height: 88px;
  }

  @media (min-width: $desktop) {
    padding-top: 30px;
  }

  &--logo {
    padding-top: 22px;
    padding-right: 0;

    @media (min-width: $tablet) {
      width: 320px;
      padding-top: 9px;
      order: 1;
    }

    @media (min-width: $desktop) {
      width: 250px;
      padding-top: 10px;
      order: 3;
    }
  }

  &--catalog {
    @media (min-width: $tablet) {
      width: 167px;
      order: 4;
    }

    @media (min-width: $desktop) {
      width: 184px;
      padding-right: 20px;
      order: 1;
    }
  }

  &--form {
    @media (min-width: $tablet) {
      width: 167px;
      margin-right: auto;
      order: 5;
    }

    @media (min-width: $desktop) {
      width: 260px;
      margin-right: 0;
      padding-left: 33px;
      order: 2;
    }
  }

  &--search {
    @media (min-width: $tablet) {
      width: 82px;
      height: 88px;
      order: 2;
    }

    @media (min-width: $desktop) {
      order: 4;
    }
  }

  &--cart {
    @media (min-width: $tablet) {
      width: 265px;
      padding-top: 30px;
      order: 3;
    }

    @media (min-width: $desktop) {
      order: 5;
    }
  }

  &--new-goods {
    display: none;

    @media (min-width: $tablet) {
      order: 6;
    }

    @media (min-width: $desktop) {
      display: flex;
      width: 184px;
      padding-top: 20px;
    }
  }

  &--sale {
    display: none;

    @media (min-width: $tablet) {
      order: 7;
    }

    @media (min-width: $desktop) {
      display: flex;
      width: 170px;
      margin-right: auto;
      padding-top: 20px;
      padding-left: 35px;
    }
  }

  &--delivery {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      width: 250px;
      order: 8;
    }

    @media (min-width: $desktop) {
      padding-top: 18px;
    }
  }
}

.header-nav__link {
  position: relative;
  color: $color-li;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &--search {
    @media (min-width: $tablet) {
      font-size: 0;
    }
  }

  &--cart {
    @media (min-width: $tablet) {
      margin-left: auto;
      padding-left: 60px;
    }

    @media (min-width: $desktop) {
      font-size: 17px;
    }
  }

  &--new-goods {
    font-size: 0;
    color: #000000;

    @media (min-width: $desktop) {
      font-size: $font-size--main;
    }
  }

  &--sale {
    font-size: 0;
    color: #000000;

    @media (min-width: $desktop) {
      font-size: $font-size--main;
    }
  }

  &--delivery {
    font-size: $font-size--main;
    color: $color-text;
    font-weight: 400;

    @media (min-width: $tablet) {
      display: flex;
      margin-left: auto;
    }
  }

  &--catalog {
    @media (min-width: $tablet) {
      font-size: 15px;
    }

    @media (min-width: $desktop) {
      font-size: 17px;
    }
  }

  &--form {
    @media (min-width: $tablet) {
      font-size: 15px;
    }

    @media (min-width: $desktop) {
      font-size: 17px;
    }
  }
}

.header-nav__icon-search {
  position: absolute;
  top: 35px;
  left: -60px;
  width: 17.6px;
  height: 17.6px;
  fill: #231f20;
  opacity: 0.2;

  @media (min-width: $tablet) {
    top: 19px;
    left: 33px;
  }

  @media (min-width: $desktop) {
    top: 7px;
  }

  &:hover,
  &:focus {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
