.header-nav {
  min-height: 79px;
  box-shadow:
    0 1px 0 #ececec,
    inset 0 1px 0 #ececec;

  @media (min-width: $tablet) {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;

    .container {
      display: flex;
      flex-wrap: wrap;
      width: 768px;
      flex-shrink: 0;
    }
  }

  @media (min-width: $desktop) {
    box-shadow: none;

    .container {
      display: flex;
      width: 1150px;
    }
  }
}

.header-nav__icon {
  margin-left: auto;
  width: 20px;
  height: 20px;
  font-size: 0;
  border: none;
  background-color: transparent;

  &--open {
    background: url("../../img/icon-menu-close.svg") no-repeat center center;
  }

  &--close {
    background: url("../../img/icon-menu-open.svg") no-repeat center center;
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.header-nav__list {
  @include reset-ul;

  @media (min-width: $tablet) {
    display: inline-flex;
    flex-wrap: wrap;
    width: 768px;
  }

  @media (min-width: $desktop) {
    display: flex;
    width: 1150px;
  }
}

.header-nav__item {
  display: flex;
  padding: 32px 0 30px  46px;
}

.header-nav__link {
  color: $color-li;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;

  &--search {
    @media (min-width: $tablet) {
      width: 82px;
      height: 88px;
      font-size: 0;
      margin-top: -120px;
      background-color: gray; //Временно до вставки иконки
    }

    @media (min-width: $desktop) {
      width: 82px;
      height: 58px;
      margin-top: 0;
      margin-left: 380px;
    }
  }

  &--cart {
    @media (min-width: $tablet) {
      max-width: 218px;
      height: 58px;
      margin-top: -120px;
      padding-top: 30px;
    }

    @media (min-width: $desktop) {
      margin-top: 0;
      padding-top: 0;
      height: 58px;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header-nav__logo {
  display: flex;
  align-items: center;
  padding-top: 22px;

  @media (min-width: $tablet) {
    width: 370px;
    height: 88px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 500px;
  }
}

.header-nav__new-goods {
  visibility: hidden;

  @media (min-width: $desktop) {
    visibility: visible;
    color: #000000;
    margin-left: 50px;
  }
}

.header-nav__sale {
  visibility: hidden;

  @media (min-width: $desktop) {
    visibility: visible;
    color: #000000;
    margin-left: 60px;
  }
}

.header-nav__tip {
  visibility: hidden;
  color: $color-text;
  font-size: $font-size--main;
  font-weight: 400;

  @media (min-width: $tablet) {
    visibility: visible;
    margin-left: auto;
    margin-right: 50px;
    margin-top: -52px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}
