.logo {
  display: block;
  margin: 0 auto;
  font-size: 0;
  width: 86px;
  height: 35px;
  background: url("../../img/logo-mobile.svg") no-repeat center center;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.footer__logo {
  width: 102px;
  height: 35px;
  background: url("../../img/logo-footer.svg") no-repeat center center;
}
