.main {
  padding-bottom: 55px;

  @media (min-width: $desktop) {
    padding-bottom: 105px;
  }
}

.main__description {
  margin: 0;
  margin-top: 30px;
  color: $color-text;
  font-size: 13px;
  font-weight: 400;
}
