.main {
  padding-bottom: 56px;

  @media (min-width: $tablet) {
    padding-bottom: 62px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 104px;
  }

  &--form {
    @media (min-width: $tablet) {
      padding-bottom: 50px;
    }
  }
}
