.main {
  padding-bottom: 55px;
}

.main__description {
  margin: 0;
  margin-top: 30px;
  color: $color-text;
  font-size: 13px;
  font-weight: 400;

  @media (min-width: $tablet) {
    margin-top: 68px;
    padding-right: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 175px;
    padding-right: 200px;
  }
}
