.modal-buy {
  width: 320px;
  min-height: 336px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

.modal-buy__caption {
  margin-top: 36px;
  text-align: center;
  text-transform: uppercase;
}

.modal-buy__size-form {
  margin-top: 25px;
}
