.offer-characteristics {
  width: 100%;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;

  @media (min-width: $tablet) {
    width: 291px;
  }
}

.offer-characteristics__row {
  border-bottom: 1px solid #ececec;
}

.offer-characteristics__cell {
  word-break: break-all;
  padding-right: 10px;

  &:first-child {
    width: 100px;
  }
}
