.offer-characteristics {
  width: 100%;
  font-weight: 400;
  line-height: 20px;
  border-collapse: collapse;

  @media (min-width: $tablet) {
    width: ceil(percentage(291px / 768px));// 291px;
  }
}

.offer-characteristics__row {
  display: block;
  margin-bottom: 7px;
  border-bottom: 1px solid #ececec;
}

.offer-characteristics__cell {
  word-break: break-word;
  padding-bottom: 11px;
  padding-right: ceil(percentage(10px / 320px));// 10px;

  &:first-child {
    width: 85px;
  }
}
