.order-form {
  @media (min-width: $tablet) {
    margin-top: 60px;
  }
}

.order-form__description {
  margin: 0;
  margin-top: 30px;
  color: $color-text;
  font-size: 13px;
  font-weight: 400;

  @media (min-width: $tablet) {
    margin-top: 68px;
    padding-right: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-left: 25px;
    padding-right: 200px;
  }
}

.order-form__group {
  margin: 0;
  padding: 35px 30px;
  border: none;

  @media (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop) {
    padding-left: 112px;
  }

  &--modified {
    padding-bottom: 45px;
  }

  &--bg-gray {
    @media (min-width: $tablet) {
      background-color: #f1f1f1;
    }
  }
}

.order-form__fields-wrapper {
  &--row {
    @media (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
    }

    @media (min-width: $desktop) {
      width: 800px;
    }
  }
}

.order-form__group-title {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block; //временно, до сеток
    width: 150px;
    height: 1px;
    margin-left: 27px;
    background-color: #62d1ba;

    @media (min-width: $tablet) {
      display: none;
      padding-bottom: 0;
    }
  }

  @media (min-width: $tablet) {
    width: 167px;
    padding-top: 19px;
    padding-bottom: 0;
  }
}

.order-form__field-wrapper {
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    width: 500px;
  }

  @media (min-width: $desktop) {
    width: 700px;
  }
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet) {
    align-self: center;
  }

  @media (min-width: $desktop) {
    height: 20px;
    margin-right: 25px;
    align-self: center;
  }

  &--radio {
    position: relative;
    display: block;
    margin-bottom: 25px;
    padding-right: 20px;
    padding-left: 62px;
    font-size: 17px;
    line-height: 18px;
    color: #000000;

    @media (min-width: $tablet) {
      margin-bottom: 45px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 40px;
      height: 40px;
      background: #ffffff;
      border: 2px solid $color-text;
      border-radius: 50%;
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--checkbox {
    position: relative;
    display: block;
    margin-bottom: 45px;
    padding-right: 20px;
    padding-left: 62px;
    font-size: 17px;
    line-height: 18px;
    color: #000000;

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
      cursor: pointer;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $tablet) {
      width: 150px;
    }
  }
}

.order-form__input {
  width: 260px;
  margin-top: 9px;
  margin-bottom: 24px;
  padding: 16px 40px 21px 1px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;

  &::placeholder {
    opacity: 0.3;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    &:checked + .order-form__label--radio::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 14px;
      width: 16px;
      height: 16px;
      background-color: #62d1ba;
      border-radius: 50%;
    }
  }

  &--checkbox {
    &:checked + .order-form__label--checkbox::after {
      content: "";
      position: absolute;
      top: -2px;
      left: 10px;
      display: block;
      width: 22px;
      height: 22px;
      background-image: url("../../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &--text {
    @media (min-width: $tablet) {
      width: 100%;
      margin-left: 25px;
    }

    @media (min-width: $desktop) {
      width: 100%;
    }
  }

  &--text[type="tel"],
  &--text[type="email"] {
    @media (min-width: $tablet) {
      margin-top: 0;
      width: 100%;
      background-color: #f1f1f1;
    }

    @media (min-width: $desktop) {
      margin-left: 0;
      width: 700px;
    }
  }
}

.order-form__textarea {
  width: 260px;
  min-height: 142px;
  margin-top: 23px;
  padding: 18px 20px 5px 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  border: 2px solid $color-text;
  box-sizing: border-box;
  resize: vertical;

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    margin-top: 0;
    width: 500px;
    min-height: 142px;
  }

  @media (min-width: $tablet) {
    width: 700px;
    min-height: 142px;
  }
}

.order-form__footer {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop) {
    width: 700px;
    padding-left: 280px;
  }
}

.order-form__tip {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet) {
    align-self: center;
    order: 2;
  }
}

.order-form__btn {
  margin-top: 30px;
  font-weight: 700;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    order: 1;
  }
}
