.production {
  width: 260px;
  margin-top: 30px;
  padding-bottom: 33px;
  border: 1px solid #ececec;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-top: 53px;
  }

  @media (min-width: $desktop) {
    display: flex;
    width: 1050px;
    min-height: 455px;
    padding-bottom: 0;
  }
}

.production__caption {
  margin-top: 26px;
  margin-left: 28px;
  padding-left: 63px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet) {
    order: 2;
  }

  @media (min-width: $desktop) {
    align-self: flex-end;
    max-width: 148px;
    margin-top: -370px;
    padding-right: 140px;
  }
}

.production__img-wrapper {
  position: relative;
  margin-top: 25px;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 101px;
    height: 77px;
    background-image: url("../../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50px, -39px);
  }

  @media (min-width: $tablet) {
    width: 668px;
    height: 455px;
    margin-top: 0;
    order: 1;
  }
}

.production__img {
  @media (min-width: $tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop) {
    width: 682px;
    height: 455px;
  }
}

.production__description {
  margin: 0;
  margin-top: 30px;
  margin-left: 28px;
  padding-left: 6px;
  font-size: 13px;
  font-weight: 400;

  @media (min-width: $tablet) {
    padding-right: 70px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    align-self: flex-end;
    max-width: 290px;
    margin-top: 42px;
    padding-right: 67px;
    box-sizing: border-box;
    font-weight: 400;
  }
}

.production__btn {
  width: 192px;
  margin-top: 25px;
  margin-left: 34px;

  @media (min-width: $tablet) {
    width: 584px;
    order: 4;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    align-self: flex-end;
    width: 230px;
    margin-top: 50px;
    margin-right: 57px;
  }
}
