.production {
  width: 260px;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}

.production__caption {
  margin-top: 26px;
  margin-left: 28px;
  padding-left: 63px;
  font-size: 17px;
  line-height: 24px;
}

.production__img-wrapper {
  position: relative;
  margin-top: 25px;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 101px;
    height: 77px;
    background-image: url("../../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50px, -39px);
  }
}

.production__description {
  margin: 0;
  margin-top: 30px;
  margin-left: 28px;
  padding: 0;
  padding-left: 6px;
  font-size: 13px;
  font-weight: 400;
}

.production__btn {
  width: 192px;
  margin-top: 25px;
  margin-left: 34px;
}
