.size-form {
  width: 100%;

  @media (min-width: $tablet) {
    width: 350px;
    margin: 0 auto;
  }
}

.size-form__field-group {
  display: flex;
  justify-content: space-between;
}

.size-form__label {
  display: block;
  width: 82px;
  height: 52px;
  padding: 17px;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid rgba($color-text, 0.1);

  &:hover {
    cursor: pointer;
    border-color: rgba($color-text, 0.3);
  }
}

.size-form__radio {
  &:checked + .size-form__label {
    border-color: rgba(#63d1bb, 1);
  }
}

.size-form__desc {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}

.size-form__btn {
  margin-top: 31px;

  @media (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}
