.slider-controls {
  display: flex;
  width: 258px;
  border: 1px solid #ececec;

  @media (min-width: $tablet) {
    width: 175px;
    margin-left: auto;
    margin-top: -55px;
    border: none;
  }
}

.slider-controls__btn {
  width: 128px;
  height: 52px;
  font-size: 0;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--back {
    background-image: url("../../img/icon-left-arrow.svg");
  }

  &--forward {
    background-image: url("../../img/icon-right-arrow.svg");
  }
}

