.socials {
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
  width: ceil(percentage(188px / 320px));// 188px;
  margin-left: ceil(percentage(57px / 320px));// 57px;
  margin-right: ceil(percentage(57px / 320px));// 57px;

  @media (min-width: $tablet) {
    margin-left: 0;
    padding-bottom: 0;
  }
}

.socials__item {
  margin-right: 37px;
  display: flex;
}

.socials__icon {
  display: flex;
  align-items: center;
  font-size: 0;
  width: 22px;
  height: 28px;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
