$font-family--main: "Open Sans", helvetica, arial, sans-serif;
$font-size--main: 15px;
$font-size--h1: 27px;
$font-size--h2: 25px;

$color-text: #444444;
$color-title: #000000;
$color-li: #000000;

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
