$font-family--main: "Open Sans", Helvetica, sans-serif;
$font-size--main: 15px;
$font-size--h1: 27px;
$font-size--h2: 25px;

$line-height--main: 24px;
$line-height--h1: 30px;
$line-height--h2: 30px;

$color-text: #444444;
$color-h1: #010000;
$color-h2: #000000;
$color-li: #000000;

$bgcolor-main: #ffffff;

$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
